<header style="background-color: black ; color: white; padding: 10px; ">
  <h3>Novo lance</h3>
</header>

<article>
  <p>veja o lance feito</p>
</article>

<footer style="background-color: black ; color: white; padding: 10px; ">
  <h4></h4>
</footer>